<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BFS</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.20.0/cytoscape.min.js"></script>
</head>
<body>
    <nav class="bg-gray-800 p-4">
        <div class="container mx-auto flex justify-between items-center">
            <a href="#" class="text-white text-lg font-semibold">Búsqueda en Anchura (Selecciona un nodo de inicio)</a>
            <div class="space-x-4">
                
            </div>
        </div>
    </nav>

    <main class="flex flex-col items-center mt-6">
        <div class="flex flex-row justify-center space-x-4">
            <!-- Gráfico del grafo original -->
             <div class="flex flex-col">
                <h1 class="text-xl mb-2 ml-4">Grafo:</h1>
                 <div id="cy" class="border rounded border-2" style="width: 45vw; height: 70vh;"></div>
             </div>
    
            <!-- Gráfico del árbol BFS -->
            <div>
                <h1 class="text-xl mb-2 ml-4">Árbol BFS:</h1>
                <div id="tree" class="border rounded border-2" style="width: 45vw; height: 70vh;"></div>
            </div>
        </div>
    
        <!-- Información del nodo de inicio y resultados del BFS -->
        <div class="grid grid-cols-3 items-center justify-items-center gap-x-8 mt-4">
            <div class="p-2 rounded bg-red-300 text-center w-full max-w-xs">
                <h2>Nodo de Inicio: <span class="font-bold text-xl" id="nodo_seleccionado"></span></h2>
            </div>
        
            <button class="p-2 bg-blue-400 shadow rounded w-full max-w-xs hover:bg-blue-500 transition duration-300 ease-in-out transform hover:scale-105" id="sendGraph">
                Calcular Búsqueda en Anchura
            </button>
            
        
            <div class="p-2 rounded bg-red-300 text-center w-full max-w-xs">
                <h3 class="font-bold">Recorrido BFS:</h3>
                <div id="results" class="text-sm"></div>
            </div>
        </div>
        
    </main>
    

    <script>
        var cy;
        var startNode = null;

        fetch('/graph')
            .then(response => response.json())
            .then(data => {
                const elements = data.nodes.map( node => ({
                    data: { id: node.id }
                })
                ).concat(data.links.map(link => ({
                    data: { source: link.source, target: link.target }
                }))
                );
                console.log("Data: ");
                console.log(data);
                console.log("Elements: ");
                console.log(elements);

                cy = cytoscape({
                    container: document.getElementById('cy'),
                    elements: elements,
                    style: [
                        {
                            selector: 'node',
                            style: {
                                'background-color': '#0074D9',
                                'label': 'data(id)'
                            }
                        },
                        {
                            selector: `node[id = "${startNode}"]`, // Seleccionar el nodo de inicio
                            style: {
                                'background-color': 'red'
                            }
                        },
                        {
                            selector: 'edge',
                            style: {
                                'width': 3,
                                'line-color': '#ccc',
                                'curve-style': 'bezier'
                            }
                        }
                    ],
                    layout: {
                        name: 'breadthfirst',
                        directed: true,
                        spacingFactor: 1.5, // Espaciado entre nodos
                    }
                });
        
        // Evento para seleccionar el nodo de inicio con un clic
        cy.on('tap', 'node', function(evt) {
            startNode = evt.target.id();  // Guardar el id del nodo seleccionado
            document.getElementById('nodo_seleccionado').innerText = startNode;
            console.log('Nodo de inicio seleccionado:', startNode);
        });

        // Enviar el grafo al backend
        document.getElementById('sendGraph').onclick = function () {
            let elements = cy.elements().jsons();
            if (!startNode) {
                alert("Selecciona un nodo de inicio haciendo clic en él antes de realizar BFS.");
                return;
            }
            fetch('/process_graph', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ elements: elements, startNode: startNode })
            })
            .then(response => response.json())
            .then(data => {
                console.log('Resultados del backend:', data);
                document.getElementById('results').innerText = data.visited_nodes.join('; ');
                drawBFSResult(data.bfs_tree, data.visited_nodes); // Función para dibujar el árbol de búsqueda
            })
            .catch(error => console.error('Error Process_Graph:', error));
        };
        function drawBFSResult(treeEdges, visitedNodes) {
            console.log('Dibujando árbol BFS:', treeEdges, visitedNodes);
            let tree = cytoscape({
                container: document.getElementById('tree'),
                elements: [
                    // Definir las aristas (edges) del árbol de búsqueda
                    ...treeEdges.map(edge => ({
                        data: { id: `e${edge[0]}-${edge[1]}`, source: edge[0], target: edge[1] }
                    })),
                    // Definir los nodos visitados en el árbol de búsqueda
                    ...visitedNodes.map(node => ({ data: { id: node.slice(0, -2) } }))
                ],
                style: [
                    {
                        selector: 'node',
                        style: {
                            'background-color': 'lightgreen', // Color predeterminado para nodos
                            'label': 'data(id)'
                        }
                    },
                    {
                        selector: `node[id = "${startNode}"]`, // Seleccionar el nodo de inicio
                        style: {
                            'background-color': 'red'
                        }
                    },
                    {
                        selector: 'edge',
                        style: {
                            'width': 3,
                            'line-color': '#ccc',
                            'curve-style': 'bezier'
                        }
                    }
                ],
                layout: {
                    name: 'breadthfirst', // Disposición de árbol para BFS
                    directed: true,       // Para hacer que el árbol sea direccional
                    roots: `#${startNode}` // Configura el nodo raíz como el nodo de inicio seleccionado
                }
            });
        }

        });
    </script>
</body>
</html>
