<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BFS</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.20.0/cytoscape.min.js"></script>
</head>
<body>
    <nav class="bg-gray-800 p-4">
        <div class="container mx-auto flex justify-between items-center">
            <a href="#" class="text-white text-lg font-semibold">Búsqueda en Anchura</a>
            <div class="space-x-4">
                
            </div>
        </div>
    </nav>

    <main class="flex flex-col alignt-center items-center">
        <div id="cy" class="border rounded border-2 mt-6 mx-auto " style="width: 800px; height: 600px;"></div>
        <button class="p-4 bg-blue-400 rounded border mt-6  mx-auto hover:bg-blue-400" id="sendGraph">
            Calcular Búsqueda en Anchura desde el nodo seleccionado
        </button>

        <div id="tree" class="border rounded border-2 mt-6 mx-auto " style="width: 800px; height: 600px;"></div>
        <h3 >Resultados del BFS:</h3>
        <pre id="results"></pre>
    </main>

    <script>
        var cy;
        var startNode = null;

        fetch('/graph')
            .then(response => response.json())
            .then(data => {
                const elements = data.nodes.map( node => ({
                    data: { id: node.id }
                })
                ).concat(data.links.map(link => ({
                    data: { source: link.source, target: link.target }
                }))
                );
                console.log("Data: ");
                console.log(data);
                console.log("Elements: ");
                console.log(elements);

                cy = cytoscape({
                    container: document.getElementById('cy'),
                    elements: elements,
                    style: [
                        {
                            selector: 'node',
                            style: {
                                'background-color': '#0074D9',
                                'label': 'data(id)'
                            }
                        },
                        {
                            selector: 'edge',
                            style: {
                                'width': 3,
                                'line-color': '#ccc',
                                'curve-style': 'bezier'
                            }
                        }
                    ],
                    layout: {
                        name: 'grid',
                    }
                });
        
        // Evento para seleccionar el nodo de inicio con un clic
        cy.on('tap', 'node', function(evt) {
            startNode = evt.target.id();  // Guardar el id del nodo seleccionado
            console.log('Nodo de inicio seleccionado:', startNode);
        });
        
        // Enviar el grafo al backend
        document.getElementById('sendGraph').onclick = function () {
            let elements = cy.elements().jsons();
            if (!startNode) {
                alert("Selecciona un nodo de inicio haciendo clic en él antes de realizar BFS.");
                return;
            }
            fetch('/process_graph', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ elements: elements, startNode: startNode })
            })
            .then(response => response.json())
            .then(data => {
                console.log('Resultados del backend:', data);
                document.getElementById('results').innerText = data.visited_nodes.join(', ');
                drawBFSResult(data.bfs_tree, data.visited_nodes); // Función para dibujar el árbol de búsqueda
            })
            .catch(error => console.error('Error Process_Graph:', error));
        };

        function drawBFSResult(treeEdges, visitedNodes) {
            let tree = cytoscape({
                container: document.getElementById('tree'),
                elements: [
                    ...treeEdges.map(edge => ({
                        data: { id: `e${edge[0]}-${edge[1]}`, source: edge[0], target: edge[1] }
                    })),
                    ...visitedNodes.map(node => ({ data: { id: node } }))
                ],
                style: [
                    {
                        selector: 'node',
                        style: {
                            'background-color': 'lightgreen',
                            'label': 'data(id)'
                        }
                    },
                    {
                        selector: 'edge',
                        style: {
                            'width': 3,
                            'line-color': '#ccc',
                            'curve-style': 'bezier'
                        }
                    }
                ],
                layout: {
                    name: 'grid'
                }
            });
        }

        });
    </script>
</body>
</html>
